.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  width: 50%;
  background-color: white !important;
  float: right;
}

.widhtData{
  width: 100% !important;
}

.form{
  padding: 30px 60px;
  color: black;
}

.fluid-button{
  padding: 15px 30px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
}

.ui-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.field input{
  padding: 8px;
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main{
  display: flex;
}

.side_img img{
  height: 99vh;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}